In [1]:
# 데이터셋 
# https://archive.ics.uci.edu/dataset/320/student+performance

from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.metrics import accuracy_score, classification_report, mean_squared_error
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv("C:/Users/gnssl/Downloads/student+performance/student/student-por.csv", sep=";")

In [3]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [4]:
df['sex'] = df['sex'].replace({'F': 1, 'M': 0})
df['schoolsup'] = df['schoolsup'].replace({'yes': 1, 'no': 0})
df['famsup'] = df['famsup'].replace({'yes': 1, 'no': 0})
df['nursery'] = df['nursery'].replace({'yes': 1, 'no': 0})
df['activities'] = df['activities'].replace({'yes': 1, 'no': 0})
df['higher'] = df['higher'].replace({'yes': 1, 'no': 0})
df['internet'] = df['internet'].replace({'yes': 1, 'no': 0})
df['romantic'] = df['romantic'].replace({'yes': 1, 'no': 0})
df['paid'] = df['paid'].replace({'yes': 1, 'no': 0})


df['Mjob'] = df['Mjob'].replace({'at_home': 0,'teacher': 1, 'health': 2, 'services' : 3, 'other' : 4,})
df['Fjob'] = df['Fjob'].replace({'at_home': 0,'teacher': 1, 'health': 2, 'services' : 3, 'other' : 4,})


df['Pstatus'] = df['Pstatus'].replace({'T': 1, 'A': 0})

In [5]:
df_encoded = pd.get_dummies(df)

In [6]:
df_encoded.corr()['G3'].sort_values(ascending=False)

G3                   1.000000
G2                   0.918548
G1                   0.826387
higher               0.332172
school_GP            0.284294
studytime            0.249789
Medu                 0.240151
Fedu                 0.211800
reason_reputation    0.170944
address_U            0.167637
internet             0.150025
sex                  0.129077
famrel               0.063361
activities           0.059791
famsup               0.059206
guardian_father      0.051030
reason_home          0.046537
famsize_LE3          0.045016
nursery              0.028752
Mjob                 0.016596
Pstatus             -0.000754
guardian_mother     -0.004415
Fjob                -0.033332
famsize_GT3         -0.045016
paid                -0.054898
schoolsup           -0.066405
guardian_other      -0.080729
goout               -0.087641
romantic            -0.090583
absences            -0.091379
reason_course       -0.098305
health              -0.098851
age                 -0.106505
freetime            -0.122705
traveltime          -0.127173
reason_other        -0.132577
address_R           -0.167637
Walc                -0.176619
Dalc                -0.204719
school_MS           -0.284294
failures            -0.393316
Name: G3, dtype: float64

In [7]:
columns_to_drop = ['health','Dalc','Walc','Mjob', 'Fjob', 'freetime', 'traveltime','age', 'Pstatus','guardian_mother','guardian_other','guardian_father','goout','romantic','absences']
df_encoded = df_encoded.drop(columns=columns_to_drop)

In [8]:
df_encoded.columns

Index(['sex', 'Medu', 'Fedu', 'studytime', 'failures', 'schoolsup', 'famsup',
       'paid', 'activities', 'nursery', 'higher', 'internet', 'famrel', 'G1',
       'G2', 'G3', 'school_GP', 'school_MS', 'address_R', 'address_U',
       'famsize_GT3', 'famsize_LE3', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation'],
      dtype='object')

In [9]:
X = df_encoded.drop('G3',axis=1)
X.head()

,sex,Medu,Fedu,studytime,failures,schoolsup,famsup,paid,activities,nursery,...,school_GP,school_MS,address_R,address_U,famsize_GT3,famsize_LE3,reason_course,reason_home,reason_other,reason_reputation
0,1,4,4,2,0,1,0,0,0,1,...,1,0,0,1,1,0,1,0,0,0
1,1,1,1,2,0,0,1,0,0,0,...,1,0,0,1,1,0,1,0,0,0
2,1,1,1,2,0,1,0,0,0,1,...,1,0,0,1,0,1,0,0,1,0
3,1,4,2,3,0,0,1,0,1,1,...,1,0,0,1,1,0,0,1,0,0
4,1,3,3,2,0,0,1,0,0,1,...,1,0,0,1,1,0,0,1,0,0

In [10]:
y = df_encoded['G3']
y.head()

0    11
1    11
2    12
3    14
4    13
Name: G3, dtype: int64

In [28]:
# 특성 정규화
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [29]:
X_train, X_test, y_train, y_test=train_test_split(X_scaled,y,test_size=0.2,random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(519, 25) (519,)
(130, 25) (130,)

In [30]:
# LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

ly_preds = model.predict(X_test)
mse = np.sqrt(mean_squared_error(ly_preds, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 1.0095854574162815

In [32]:
# DT
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
dy_preds = model.predict(X_test)
mse = np.sqrt(mean_squared_error(dy_preds, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 1.3008872711759818

In [34]:
# RF
model = RandomForestRegressor()
model.fit(X_train, y_train)
ry_preds = model.predict(X_test)
mse = np.sqrt(mean_squared_error(ry_preds, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 1.1194531632075477

In [35]:
# SVM
from sklearn.svm import SVR
model = SVR(kernel='linear')
model.fit(X_train, y_train)
ry_preds = model.predict(X_test)
mse = np.sqrt(mean_squared_error(ry_preds, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.9400916754227429